{{#partial "title" }}
  Let's see where you went on your adventure!
{{/partial}}


{{#partial "content"}}

<p>{{userName}}, you chose to go to {{ result}}!</p>

<p>Thanks for playing!</p>


{{/partial}}

{{> layout.hbs}}

